#!/bin/bash

song_name=$1
## Check if rpi-server is running, if not start it, if so do nothing
systemctl is-active rpi-server >/dev/null 2>&1 && : || sudo systemctl start rpi-server
echo $song_name > /tmp/current_song
echo true > /tmp/show-running